<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CounterDemo Watch App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>CounterDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>021988D61A1C0AB800D881B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>021988EB1A1C0AB800D881B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>021988FF1A1C19EA00D881B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0219890C1A1C19EB00D881B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
